@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Henny+Penny&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Architects Daughter, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

h1,h2 {
    font-family: Henny penny, sans-serif;
    color: #b14cb1;
}

#logo {
    float: left;
    font-size: 300%;
    padding-left: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 120px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#menu a:hover {
    color: #000000;
    border-style: none;
    border: none;
    border-radius: 40px 10px;
    padding: 15px;
    background-color: #b14cb1;
    
}

.active {
    color: #000000;
    border-style: none;
    border: none;
    border-radius: 40px 10px;
    padding: 15px;
    background-color: #b14cb1;
}

/* home page */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../image/hero-image.jpg') no-repeat center center;
}