@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Henny+Penny&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Architects Daughter, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

h1,h2 {
    font-family: Henny penny, sans-serif;
    color: #b14cb1;
}

#logo {
    float: left;
    font-size: 300%;
    padding-left: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 120px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#menu a:hover {
    color: #000000;
    border-style: none;
    border: none;
    border-radius: 40px 10px;
    padding: 15px;
    background-color: #b14cb1;
    
}

.active {
    color: #000000;
    border-style: none;
    border: none;
    border-radius: 40px 10px;
    padding: 15px;
    background-color: #b14cb1;
}

/* home page */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../image/hero-image.jpg');
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name:  hero-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;

    
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/* general information */

#general-information {
    height: 600px;
}

#left-about {
    padding-top: 200px;
    width: 33%;
    float: left;
    font-size: 150%;
    padding-left: 30px;


    background-color: rgba(152, 93, 171, 0.47);
    position: relative;
    
}

#left-image {
    width: 500px;
    height: 500px;
    background: url('../image/left-image.jpg');
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 50px;
    
    position:relative;
    left:700px;
    top: 200px;
    border: 1px;

    
    
}

#right-history {
    padding-top: 30px;
    width: 33%;
    float: right;
}