@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Henny+Penny&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Architects Daughter, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

h1,
h2 {
    font-family: Henny penny, sans-serif;
    color: #b14cb1;
}

#logo {
    float: left;
    font-size: 300%;
    padding-left: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 120px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#menu a:hover {
    color: #000000;
    border-style: none;
    border: none;
    border-radius: 40px 10px;
    padding: 15px;
    background-color: #b14cb1;

}

.active {
    color: #000000;
    border-style: none;
    border: none;
    border-radius: 40px 10px;
    padding: 15px;
    background-color: #b14cb1;
}

/* home page */


.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../image/hero-image.jpg');
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/* general information */



.general-information {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 50px;
  
}

.left-about {

    background-color: rgba(152, 93, 171, 0.47);
    height: auto;
    width: 100%;
    
    padding: 20px;

   
}

.left-image {
    width: 100%;
    height: auto;
}

.left-image img {
    width: 90% ;
    height: auto;
    padding: 10px;
    
    
}







.right-history {

    background-color: rgba(152, 93, 171, 0.47);
    height: auto;
    width: 100%;
    
    padding: 20px;
   
}


.right-image {
    width: 100%;
    height: auto;
}

.right-image img {
    width: 90% ;
    height: auto;
    padding: 10px;
    
}




/* footer */



.social-networks {
    text-align: center;
    padding-top: 200px;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #b14cb1;
}


/* what we offer page */

.h1-outer {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.offer-h1 {
    clear: both;
    text-align: center;
    padding-top: 100px;
    font-size: 200%;

}




.we-offer {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 50px;
  
}

.text-board {

    background-color: rgba(152, 93, 171, 0.47);
    height: auto;
    width: 100%;
    
    padding: 20px;
   
}

.board-image {
    width: 100%;
    height: auto;
}

.board-image img {
    width: 90% ;
    height: auto;
    padding: 10px;
    
}


.text-food {

    background-color: rgba(152, 93, 171, 0.47);
    height: auto;
    width: 100%;
    
    padding: 20px;
   
}

.food-image {
    width: 100%;
    height: auto;
}

.food-image img {
    width: 90% ;
    height: auto;
    padding: 10px;
    
}

.text-drinks {

    background-color: rgba(152, 93, 171, 0.47);
    height: auto;
    width: 100%;
    
    padding: 20px;
   
}

.drinks-image {
    width: 100%;
    height: auto;
}

.drinks-image img {
    width: 90% ;
    height: auto;
    padding: 10px;
    
    
}


/* contact us and form */

.form-section {
    clear: left;
    background: url("assets/image/stockholm.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #000000;
    font-weight: bold;
    background-color: rgba(152, 93, 171, 0.47);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #b14cb1;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #8ce081;
    color: #000000;
    font-weight: bold;
}


.h2-contact {
    margin-top: 30px;
    letter-spacing: 2px;

}



.contact-us {
    font-size: 120%;
    line-height: 70px;
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
    font-size: 140%;
}




/* Media queries */


/* For larger to medium screens size from 1670px wide and down */


@media screen and (max-width: 1670px) {
     
    #menu {
        font-size: 70%;
        font-weight: bolder;
        
    }


}



    

/* For medium screens size from 950px wide and down */


 @media screen and (max-width: 750px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        
        
    }


    .general-information {
        display: flex;
        width: 100%;
        flex-direction: column;
        
    
        
      
    }

    .we-offer {
        display: flex;
        width: 100%;
        flex-direction: column;
        
      
    }

    .signup-form {
        font-size: 60%;
    }


}
    
    

    

    

 




 
